@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-btnGreen: #62df90;
  --color-btnGreenHover: #449c64;
  --color-btnOrange: #f6c274;
  --color-btnRed: #eb1c24;
  --color-btnRedHover: #a41319;
  --font-main: "Mulish", sans-serif;
}

html,
body,
#root {
  min-height: 100vh;
  width: 100vw;
  min-width: 0;
  max-width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f4f4f4;
  overflow-x: hidden;
}

/* TextEditorSpecific.css */
.custom-tiptap-editor ul {
  list-style-type: disc;
  padding-left: 2rem; /* Adjust to match prose or your preference */
  margin-top: 0.75em; /* Example, adjust as needed */
  margin-bottom: 0.75em;
}

.custom-tiptap-editor ol {
  list-style-type: decimal;
  padding-left: 2rem; /* Adjust to match prose or your preference */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

.custom-tiptap-editor li {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
