@import "tailwindcss";

@tailwind utilities;

@theme {
  --color-btnGreen: #62df90;
  --color-btnGreenHover: #449c64;
  --color-btnOrange: #f6c274;
  --color-btnRed: #eb1c24;
  --color-btnRedHover: #a41319;
  --font-main: "Mulish", sans-serif;
}
html {
  background-color: #f4f4f4;
}
